body{background:#000;}

body:after{
    display:none;
    content: url(cellar.jpg) url(kitchen.jpg) url(outside.jpg) url(passage.jpg) url(study.jpg) url(trail.jpg);
}

.container{
	transition: background-color 3s ease;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	background: #ffefd5;
}

header{
	height: 100px;
	background: #124;
	font-size: 1.5em;
	text-align: center;
	line-height: 100px;
	padding: 0 4% 0 4%;
	color: #fff;
	box-shadow: inset 0 10px 25px #335;
}


nav{
	height: 40px;
	line-height: 40px;	
	background: #500;
	box-shadow: inset 0 25px 35px #600;
	border-top: solid 2px #123;
	border-bottom: solid 1px #192949;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

nav li{
	box-shadow: inset 0 25px 35px #622;
	float: left;
	/*border-right: solid 2px #123;*/
}

nav li:hover{
	box-shadow: inset 0 25px 35px #711;
}

nav a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	text-align: center;
	padding: 0 25px;

}

.content{
	padding: 4%;
	font-family: Arial;
	font-size: 87%;
}

#info{
	height: 3em;
}

.game{
	width: 880px;
	height: 500px;
	background-color: black;
	border: 2px solid black;
	overflow: hidden;
	position: relative;
}

.in-game {
	position: absolute;
	width: 3520px;
	height: 2000px;
	left:0;
	top:-1500px;
	left: -880px;
	transition: left .5s ease, top .5s ease;
}

.room{
	background-size: cover;
	width: 880px;
	height:500px;
	float: left;
	transition: opacity .8s linear;
	opacity: 0;
}

.readout{
	font-weight: normal;
	font-family: serif;
}

.scone{
	width: 43px;
	height: 35px;
	position: relative;
	top: 370px;
	left: 274px;
	transition: all .5s ease;
}

.knife{
	width: 60px;
	height: 48px;
	position: relative;
	top: 443px;
	left: 587px;
	transition: all .5s ease;
}

.knife-zoom{
	width: 420px;
	height: 336px;
	top: 120px;
	left: 220px;
}
.scone-zoom{
	width: 215px;
	height: 175px;
	top: 250px;
	left: 350px;
}

.btn-container{
	float: right;
	margin-top: 440px;
	margin-right: 30px

}

button{
	box-shadow: 5px 5px 10px 0px #1c1b18;
	background-color:#eae0c2;
	border-radius:8px;
	border: none;
	font-weight:bold;
	padding:10px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button:hover {
	background-color:#ccc2a6;
}

button:active {
	position:relative;
	top:1px;
}

.take{
	color:#060;
}

.hidden{
	display: none;
}

.help-menu{
	position: relative;
	box-sizing: border-box;
	width: 880px;
	height: 500px;
	background: #fda;
	box-shadow: inset 0px 0px 60px 15px #531;
	padding: 80px;
	z-index: 2;
	overflow: auto;
}

.help-menu h1{
	margin: 0;
	text-align: center;
}

.inventory-menu{
	position: relative;
	box-sizing: border-box;
	width: 880px;
	height: 500px;
	background: #fda;
	box-shadow: inset 0px 0px 60px 15px #531;
	padding: 50px;
	z-index: 1;
	overflow: auto;
}

.inventory-menu h1{
	margin: 0;
	font-size: 3em;
	text-align: center;
	font-family: bilbo;
}
